/node_modules
/public/hot
/public/storage
#/public/css
#/public/js
#/public/imgs
#/public/images

#/public/fonts
/public/mix-manifest.json
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/framework/laravel-excel
/.idea
/.vscode
/.history
.env
