// spacing
$spacer: 1rem !default;
$spacers: (0, 2, 4, 6, 8, 12, 16, 20, 24, 30, 32, 48, 50, 60);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
    (
        0: 0,
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
    ),
    $sizes
);

// Body
//
// Settings for the `<body>` element.

$body-bg: $white !default;
$body-color: $gray-900 !default;

// Links
$link-color: $body-color;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: none !default;
$emphasized-link-hover-darken-percentage: 15% !default;

// Grid breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
) !default;

// Grid containers
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
) !default;

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
$grid-row-columns: 6 !default;

// Border radius
$rounds: (0, 2, 4, 6, 8);

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-sizes: (6, 8, 11, 12, 13, 14, 15, 16, 18, 20, 24, 28, 30, 32, 34, 48, 64);

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$line-height-base: 1.5;

$font-weights: (300, 400, 500, 600, 700, 900);

$border-width: 1px !default;
$border-color: $gray-300 !default;
$border-radius: 0.25rem !default;

// Utilities

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex,
    inline-flex !default;
$overflows: auto, hidden !default;
$positions: static, relative, absolute, fixed, sticky !default;
